
@{
    ViewBag.Title = "Postage and shipping";
}

<h2>Postage and shipping</h2>

<p>We endeavour to despatch all orders within 1 working day. All kits are designed and made up by us and therefore are never out of stock.</p>
<p>All orders over £12.00 are delivered FREE of charge.</p>
<p>Orders below £12.00 are subject to a delivery and handling charge of £1.50</p>
<p>All products are delivered either by courier or by Royal mail standard 1st class post, which may take up to 3 working days to arrive.</p>
<p>On rare occasions different products in the same order may be delivered separately.</p>
<p>No International orders can be taken at this time.</p>
