
@{
    ViewBag.Title = "Contact Us";
}

<p>Company Details</p>

<ul class="plain">
	<li>Claire’s Designs</li>
	<li>
		13 Pensher View
	</li>
	<li>
		Washington
	</li>
	<li>
		Tyne and Wear
	</li>
	<li>
		NE37 3BH
	</li>
	<li>
		Tel. 0191 4164382
	</li>
	<li>clairesdesigns@gmx.co.uk</li>
</ul>

<p>Claire’s Designs Ltd.</p>
<p>Registered in England & Wales, company number 10246791</p>



