$primary: #E91E63;
$secondary: #AD1457;
$tertiary: #F8BBD0;
$accent: #64DD17;
$text: rgb(255, 255, 255);

body{
	font-family: Roboto;
	font-size: 16pt;
}

ul.plain{
	> li{
		list-style: none;
	}
}

.topbar{
	position: fixed;
	height: 128px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $primary;
}

.title-top{
	background-color: inherit;
	height: 64px;
	width: 100%;
	color: $text;
	margin-left: 200px;
	> p{
		margin-left: 20px;
		font-size: 40px;
	}
}

nav.navbar-top{
	background-color: inherit;
	margin-left: 200px;
	height: 64px;
	width: 100%;
	box-shadow:rgba(0, 0, 0, 0.2) 0 5px 3px;
	>ul{
		height: 100%;
		>li{
			height: 100%;
			background-color: $primary;
			>a{
				padding: 22px 10px; 
				font-size: 18pt;
				color: $text;
				&:hover{
					background-color: $secondary;
				}
			}
		}
	}
}

.dropdown{
	background-color: $primary;
	>ul{
		width: 100%;
		padding: 0;
		>li{
			padding: 5px 15px;
			&:hover{
				background-color: $secondary;
			}
			list-style: none;
			>a{
				color: white;
				white-space: nowrap;
				font-size: 9pt;
			}
		}
	}
}

.sidebar-left{
	position: fixed;
	width: 200px;
	height: calc(100% - 128px);
	top: 128px;
	background-color: $primary;
	.links{
		position: absolute;
		bottom: 0;
		ul{
			li{
				list-style: none;
				a{
					color: white;
					font-size: 9pt;
				}
			}
		}
	}
}

.container{
	height: 100%;
	width: 100%;
	margin-top: 128px;
	margin-left: 200px;
	padding: 20px;
}
